body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #130F18;
  margin: 0;
  padding: 20px;
}

.top-buttons {
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #cc8abe;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #cc8abe;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
